nav {
  background-color: rgb(47, 55, 66);
  position: fixed;
  left: 0;
  color: white;
  width: 212px;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  z-index: 5;
  overflow: hidden;
  transition: width 0.15s;
}

.show-mobile-nav {
  width: 212px;
}

.logo {
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.pages-section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  margin-bottom: 8px;
  color: #d5dfe6;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.pages-section div:hover {background-color: rgba(255, 255, 255, 0.15);}

.pages-section {
  width: 100%;
  margin-top: 20px;
}

.invisible-logo {display: none;}

nav .mobile-search-nav-page {display: none;}

.pages-section img {height: 30px;}

@media (max-width: 806px) {
  .logo {display: none;}

  nav {
    padding-top: 70px;
    width: 0;
    z-index: 10;
  }
}

@media (max-width: 479px) {
  nav .mobile-search-nav-page {display: flex;}
}
